@font-face {
  font-family: 'iconfont';  /* project id 455175 */
  src: url('//at.alicdn.com/t/font_455175_zpyyfdgs0m3x47vi.eot');
  src: url('//at.alicdn.com/t/font_455175_zpyyfdgs0m3x47vi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_455175_zpyyfdgs0m3x47vi.woff') format('woff'),
  url('//at.alicdn.com/t/font_455175_zpyyfdgs0m3x47vi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_455175_zpyyfdgs0m3x47vi.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
body{
  background: #232735;
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

@keyframes index-loading-logo {
  0% {
    opacity: 0
  }

  25% {
    opacity: .5
  }

  50% {
    opacity: 1
  }

  60% {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  100% {
    left: 60px;
    top: 60px;
    transform: translate(0, 0);
  }
}
@keyframes index-loading-logo-mobile {
  0% {
    opacity: 0
  }

  25% {
    opacity: .5
  }

  50% {
    opacity: 1
  }

  60% {
    opacity: .5
  }

  100% {
    opacity: 0
  }
}
@keyframes first-section-opacity {
  0% {
    opacity: 0
  }

  25% {
    opacity: 0
  }

  50% {
    opacity: 0
  }

  75% {
    opacity: .5
  }

  100% {
    opacity: 1
  }
}

@keyframes nav {
  0% {
    opacity: 0
  }

  25% {
    opacity: .25
  }

  50% {
    opacity: .5
  }

  75% {
    opacity: .75
  }

  100% {
    opacity: 1
  }
}


@keyframes slide1 {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }

  25% {
    opacity: 1;
    transform: scale(1.05, 1.05);
  }

  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }

  75% {
    opacity: 0;
    transform: scale(1, 1);
  }

  100% {
    opacity: 0;
    transform: scale(1, 1);
  }
}
@keyframes slide2 {
  0% {
    opacity: 0;
    transform: scale(1, 1);
  }

  25% {
    opacity: 0;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1, 1);
  }

  75% {
    opacity: 1;
    transform: scale(1.05, 1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
}

.logo{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: index-loading-logo 8s;
  animation-fill-mode: forwards;
  z-index: 10000;
  margin: 0;
}
@media (max-width: 767px) {
  .logo{
    animation: index-loading-logo-mobile 8s;
    animation-fill-mode: forwards;
  }
}
.nav{
  position: absolute;
  top: 60px;
  right: 60px;
  z-index: 9999;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  cursor: pointer;
  background: #f1f1f1;
  .iconfont{
    font-size: 26px;
    color: #333;
  }
}
@media (max-width: 767px) {
  .nav{
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
  }
}
.qrcode{
  position: absolute;
  top: 60px;
  right: 140px;
  z-index: 9999;
  color: #fff;
  font-size: 16px;
  line-height: 45px;
  cursor: pointer;
  &:hover{
    color: #007ce6;
    .qrcode-box{
      opacity: 1;
    }
  }
  .iconfont{
    font-size: 18px;
    margin-right: 5px;
  }
  .qrcode-text{
    position: relative;
    z-index: 9999;
  }
  .qrcode-box{
    opacity: 0;
    transition: all .5s;
    position: absolute;
    left: -22px;
    right: -22px;
    top: 0;
    z-index: 9998;
    padding-top: 45px;
    background: rgba(255,255,255,.6);
    text-align: center;
    padding-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .qrcode{
    position: absolute;
    top: 15px;
    right: 85px;
    display: none;
  }
}
.slidebox{
  -webkit-transform: translateY(270px);
  transform: translateY(270px);
  opacity: 0;
  transition: opacity 1.5s,-webkit-transform 1.5s;
  transition: transform 1.5s,opacity 1.5s;
  transition: transform 1.5s,opacity 1.5s,-webkit-transform 1.5s;
}
.active{
  .slidebox{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1 ;
  }
}

.slideup{
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
  transition: opacity 1.5s,-webkit-transform 1.5s;
  transition: transform 1.5s,opacity 1.5s;
  transition: transform 1.5s,opacity 1.5s,-webkit-transform 1.5s;
}
.active{
  .slideup{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1 ;
  }
}
.slideleft{
  -webkit-transform: translateX(-1000px);
  transform: translateX(-1000px);
  opacity: 0;
  transition: opacity 1.5s,-webkit-transform 1.5s;
  transition: transform 1.5s,opacity 1.5s;
  transition: transform 1.5s,opacity 1.5s,-webkit-transform 1.5s;
}
.active{
  .slideleft{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1 ;
  }
}
.slideright{
  -webkit-transform: translateX(1000px);
  transform: translateX(1000px);
  opacity: 0;
  transition: opacity 1.5s,-webkit-transform 1.5s;
  transition: transform 1.5s,opacity 1.5s;
  transition: transform 1.5s,opacity 1.5s,-webkit-transform 1.5s;
}
.active{
  .slideright{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1 ;
  }
}
.template-title{
  background: url(../images/title-bg.png) center bottom no-repeat;
  text-align: center;
  padding-bottom: 10px;
  h2{
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
  }
  h3{
    font-size: 15px;
    color: rgba(255,255,255,.3);
    margin-top: 0;
  }
}
@media (max-width: 767px){
  .template-title{
    padding-bottom: 30px;
    margin-bottom: 10px;
    h2{
      font-size: 20px;
      margin-bottom: 0;
    }
    h3{
      font-size: 13px;
      display: none;
    }
  }
}
.section-1{
  background: url(../images/bg-1.jpg) center center no-repeat;
  background-size: cover;
  opacity: 0;
  animation: first-section-opacity 8s;
  animation-fill-mode: forwards;
  .mobile-slide{
    display: none;
  }
  .video{
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: none;
    #video{
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
    }
  }
  .cover{
    background: url(../images/cover.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .content{
    text-align: center;
    .title{
      margin-top: 15px;
      margin-bottom: 15px;
      transition-delay: .5s;
    }
    .title-en{
      margin-top: 15px;
      margin-bottom: 15px;
      transition-delay: 1.5s;
    }
    .feature{
      margin-top: 15px;
      margin-bottom: 15px;
      transition-delay: 2.5s;
    }
  }
  &.active{
    .title{
    }
  }
}
@media (max-width: 767px) {
  .section-1{
    background-size: auto 100% !important;
    .video{
      display: none;
    }
    .mobile-slide{
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      display: block;
      img{
        width: 100%;
        opacity: 0;
      }
      .mobile-slide-1{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        img{
          animation:slide1 linear 8s infinite;
          -webkit-animation:slide1 linear 8s infinite;
          animation-delay: 5s;
        }
      }
      .mobile-slide-2{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        img{
          animation:slide2 8s linear infinite;
          -webkit-animation:slide2 linear 8s infinite;
          animation-delay: 13s;
        }
      }
    }
    .content{
      .title{
        img{
          height: 40px;
        }
      }
      .title-en{
        img{
          height: 13px;
        }
      }
      .feature{
        img{
          height: 35px;
        }
      }
    }
  }
}
.section-2{
  background: url(../images/bg-2.jpg) center center no-repeat;
  background-size: cover;
  .about{
    text-align: center;
    h2{
      font-size: 36px;
      color: #fff;
      font-weight: bold;
      margin-bottom: 45px;
      margin-top: 65px;
      transition-delay: 1.5s;
    }
    p{
      font-size: 16px;
      color: #fff;
      line-height: 37px;
      margin-bottom: 0;
      transition-delay: 2.5s;
    }
    .about-detail{
      position: relative;
      margin-top: 35px;
      height: 340px;
    }
    .about-text{
      width: 100%;
      max-width: 620px;
      height: 300px;
      background: rgba(0,159,213,.8);
      padding: 40px 75px;
      position: absolute;
      top: 0;
      right: 0;
      transition-delay: 3.5s;
      h4{
        font-size: 18px;
        color: #fff;
        text-align: left;
        font-weight: bold;
        text-decoration: underline;
      }
      p{
        font-size: 14px;
        text-align: left;
        color: rgba(255,255,255,.75);
        line-height: 30px;
        margin-bottom: 0;
      }
    }
    .about-pic{
      position: absolute;
      top: 40px;
      left: 0;
      transition-delay: 3.5s;
    }
  }
}
@media (max-width: 767px) {
  .section-2{
    .about{
      h2{
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      p{
        font-size: 13px;
        line-height: 28px;
        padding: 0 15px;
        span{
          display: none;
        }
      }
      .about-text{
        height: auto;
        padding: 15px;
        right: 0;
        width: 95%;
        h4{
          font-size: 14px;
          text-align: center;
        }
        p{
          font-size: 12px;
          line-height: 28px;
        }
      }
      .about-pic{
        width: 95%;
        top: 40px;
        img{
          width: 100%;
        }
      }
      .about-detail{
        margin-top: 15px;
        height: 200px;
      }
    }
  }
}
.section-3{
  background: url(../images/bg-3.jpg) center center no-repeat;
  background-size: cover;
  .product{
    position: relative;
    .product-l{
      padding: 0;
      overflow: hidden;
      .product-item{
        padding: 143px 85px 0 85px;
        text-align: left;
        .product-item-brand{
          height: 36px;
          line-height: 36px;
          margin-bottom: 20px;
        }
        h2{
          font-size: 30px;
          color: #fff;
        }
        h3{
          font-size: 20px;
          color: #fff;
        }
        .product-item-feature{
          margin-top: 50px;
          p{
            font-size: 16px;
            color: #fff;
          }
        }
      }
    }
    .product-item{
      height: 540px;
      line-height: 540px;
      text-align: center;
      &.product-item-1{
        background: url(../images/product-bg-1.jpg) center center no-repeat;
      }
      &.product-item-2{
        background: url(../images/product-bg-2.jpg) center center no-repeat;
      }
      &.product-item-3{
        background: url(../images/product-bg-3.jpg) center center no-repeat;
      }
    }
    .product-r{
      height: 540px;
      line-height: 540px;
      text-align: center;
      background: url(../images/product-bg.jpg) center center no-repeat;
      padding: 0;
      .product-pic-item{
        display: none;
      }
    }
    .arrow{
      width: 55px;
      height: 55px;
      background: rgba(0,0,0,.5);
      text-align: center;
      cursor: pointer;
      .iconfont{
        line-height: 55px;
        font-size: 28px;
        color: #fff;
        font-weight: bold;
      }
      &.next{
        position: absolute;
        bottom: 0;
        right: -15px;
      }
      &.prev{
        position: absolute;
        bottom: 0;
        right: 41px;
      }
      &:hover{
        background: #222;
      }
    }
  }
}
@media (max-width: 767px) {
  .section-3{
    .product{
      padding-left: 15px;
      padding-right: 15px;
      .product-l {
        .product-item{
          height: 250px;
          padding: 30px;
          .product-item-brand{
            margin-bottom: 0;
            img{
              height: 18px;
            }
          }
          h2{
            font-size: 18px;
            line-height: 28px;
          }
          h3{
            font-size: 14px;
            line-height: 24px;
          }
          .product-item-feature{
            margin-top: 15px;
            p{
              font-size: 13px;
              line-height: 16px;
            }
          }
        }
      }
      .product-r {
        height: 300px;
        line-height: 300px;
        .product-pic-item{
          img{
            width: 150px;
          }
        }
      }
      .arrow{
        width: 30px;
        height: 30px;
        line-height: 30px;
        .iconfont{
          font-size: 18px;
          line-height: 30px;
        }
        &.next{
          right: 0;
        }
        &.prev{
          right: 30px;
        }
      }
    }
  }
}
.section-4{
  background: url(../images/bg-4.jpg) center center no-repeat;
  background-size: cover;
  .feature{
    margin-top: 60px;
    .feature-item{
      height: 270px;
      background: #fff;
      text-align: center;
      position: relative;
      h3{
        font-size: 26px;
        font-weight: bold;
        border-bottom: 1px solid #a8a39d;
        display: inline-block;
        margin-bottom: 0;
        margin-top: 60px;
      }
      h4{
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 28px;
      }
      p{
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 0;
      }
      &:nth-child(1){
        transition-delay: .25s;
      }
      &:nth-child(2){
        transition-delay: .5s;
      }
      &:nth-child(3){
        transition-delay: .75s;
      }
      &:nth-child(4){
        transition-delay: 1s;
      }
      &:nth-child(5){
        transition-delay: 1.25s;
      }
      &:nth-child(6){
        transition-delay: 1.5s;
      }
      &:nth-child(7){
        transition-delay: 1.75s;
      }
      &:nth-child(8){
        transition-delay: 2s;
      }
    }
    .feature-pic:after{
      content: '';
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      background: none;
      transition: all .5s;
    }
    .feature-pic:hover:after{
      content: '';
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      background: rgba(0,0,0,.4);
    }
    .feature-pic-1{
      background: url(../images/feature-1.jpg) center center no-repeat;
    }
    .feature-pic-2{
      background: url(../images/feature-2.jpg) center center no-repeat;
    }
    .feature-pic-3{
      background: url(../images/feature-3.jpg) center center no-repeat;
    }
    .feature-pic-4{
      background: url(../images/feature-4.jpg) center center no-repeat;
    }
  }
}
@media (max-width: 767px) {
  .section-4{
    .feature{
      margin-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      .col-md-3{
        padding-left: 5px;
        padding-right: 5px;
      }
      .feature-item{
        height: 120px;
        background-size: 100% auto !important;
        h3{
          font-size: 14px;
          margin-top: 15px;
          line-height: 20px;
        }
        h4{
          margin-bottom: 10px;
          line-height: 20px;
        }
        p{
          font-size: 12px;
          line-height: 20px;
          -webkit-transform: scale(0.7);
          text-align: center;
        }
      }
      .float-right{
        float: right;
      }
    }
  }
}
.section-5{
  background: url(../images/bg-5.jpg) center center no-repeat;
  background-size: cover;
  .contact{
    margin-top: 130px;
    .contact-l{

    }
    .contact-r{

    }
    .contact-tel{
      color: #ff5252;
      font-size: 45px;
      line-height: 60px;
      margin-bottom: 40px;
      .iconfont{
        font-size: 55px;
        margin-right: 10px;
      }
    }
    .contact-list{
      margin-left: 70px;
      ul{
        padding-left: 0;
        li{
          list-style: none;
          font-size: 15px;
          line-height: 36px;
          color: #fff;
          .iconfont{
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
    }
    .contact-qrcode{
      margin-top: 40px;
      margin-left: 70px;
      .contact-qrcode-item{
        float: left;
        margin-right: 20px;
        p{
          text-align: center;
          font-size: 12px;
          line-height: 28px;
          color: #666;
        }
      }
    }
    .contact-tips{
      p{
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 0;
        color: rgba(255,255,255,.5);
      }
    }
    .contact-msg{
      margin-top: 30px;
      .form-group{
        margin-bottom: 20px;
      }
    }
  }
  .footer{
    height: 70px;
    line-height: 70px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    .gori{
      width: 45px;
      height: 13px;
      display: inline-block;
      background: url(../images/gori.png) no-repeat;
      margin-left: 10px;
    }
    p{
      line-height: 70px;
      margin-bottom: 0;
      float: left;
    }
    .sns{
      float: right;
      color: #fff;
      a{
        color: #808080;
        width: 30px;
        height: 30px;
        line-height: 28px;
        display: inline-block;
        transition: color .5s;
        border: 1px solid #808080;
        border-radius: 50%;
        text-align: center;
        margin: 0 2px;
        .iconfont{
          font-size: 16px;
        }
        &:hover{
          color: #fff;
          border-color: #fff;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .section-5{
    .contact{
      margin-top: 0;
      .contact-l{
        text-align: center;
      }
      .contact-tel{
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 0;
        .iconfont{
          font-size: 18px;
          margin-right: 0;
        }
      }
      .contact-list{
        margin-left: 0;
        ul{
          li{
            font-size: 12px;
            line-height: 32px;
            .iconfont{
              font-size: 14px;
              margin-right: 5px;
            }
          }
        }
      }
      .contact-qrcode{
        display: none;
        margin-left: 0;
        margin-top: 10px;
        .contact-qrcode-item{
          img{
            width: 100px;
          }
        }
      }
      .contact-tips{
        p{
          font-size: 12px;
          line-height: 22px;
        }
      }
      .contact-msg{
        margin-top: 10px;
        textarea{
          height: 70px;
        }
        .form-group{
          margin-bottom: 10px;
        }
      }
    }
    .footer{
      height: 32px;
      line-height: 32px;
      text-align: center;
      p{
        float: none;
        line-height: 32px;
        span{
          display: none;
        }
      }
      .sns{
        display: none;
      }
    }
  }
}

#fp-nav ul li {
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    margin-bottom: 24px;
}
#fp-nav ul li a {
    position: absolute;
    display: block;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#fp-nav ul li a.active {
    -webkit-transform: translate(-50%, -50%) scale(1.71);
    -moz-transform: translate(-50%, -50%) scale(1.71);
    -ms-transform: translate(-50%, -50%) scale(1.71);
    -o-transform: translate(-50%, -50%) scale(1.71);
    transform: translate(-50%, -50%) scale(1.71);
}
#fp-nav ul li:hover a {
    -webkit-transform: translate(-50%, -50%) scale(1.71);
    -moz-transform: translate(-50%, -50%) scale(1.71);
    -ms-transform: translate(-50%, -50%) scale(1.71);
    -o-transform: translate(-50%, -50%) scale(1.71);
    transform: translate(-50%, -50%) scale(1.71);
}
#fp-nav ul li a span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    -moz-transition: all 0.2s ease-in-out 0.1s;
    -ms-transition: all 0.2s ease-in-out 0.1s;
    -o-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
}
#fp-nav ul li a.active span {
  width: 18px;
  height: 18px;
  margin: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.585);
    -moz-transform: translate(-50%, -50%) scale(0.585);
    -ms-transform: translate(-50%, -50%) scale(0.585);
    -o-transform: translate(-50%, -50%) scale(0.585);
    transform: translate(-50%, -50%) scale(0.585);
}
#fp-nav ul li:hover a.active span{
  width: 18px;
  height: 18px;
  margin: 0;
}
#fp-nav ul li:hover a span {
  width: 18px;
  height: 18px;
  margin: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.585);
    -moz-transform: translate(-50%, -50%) scale(0.585);
    -ms-transform: translate(-50%, -50%) scale(0.585);
    -o-transform: translate(-50%, -50%) scale(0.585);
    transform: translate(-50%, -50%) scale(0.585);
}
#fp-nav ul li:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -24px;
    left: 50%;
    width: 1px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#fp-nav ul li:first-child:after {
    display: none;
}
